.parallax-stickers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 680vh;

  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

@media (max-width: 720px) {
  .parallax-stickers {
    height: calc(500vh + 1400px);
  }
}

.parallax-stickers-1{
  position: absolute;
  transform: translateX(-50%);
  width: 375px;
  left: 50%;
  top: 8.5%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.parallax-stickers-2{
  position: absolute;
  transform: translateX(-50%);
  width: 390px;
  left: 15%;
  top: 25%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.parallax-stickers-3{
  position: absolute;

  width: 250px;
  right: 6%;
  top: 29%;

}

.parallax-stickers-4{
  position: absolute;
  transform: translateX(-50%);
  width: 350px;
  left: 12%;
  top: 37%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.parallax-stickers-4-1{
  position: absolute;
  transform: translateX(-50%);
  width: 200px;
  left: 90%;
  top: 39%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.parallax-stickers-5{
  position: absolute;
  transform: translateX(-50%);
  width: 200px;
  left: 0%;
  top: 49%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.parallax-stickers-6{
  position: absolute;

  width: 220px;
  right: 0%;
  top: 86%;

}

@media (max-width: 1000px) {
  .parallax-stickers-6{
    position: absolute;

    scale: 0;

  }
}


@media (max-width: 720px) {



  .parallax-stickers-1{
    width: 300px;
    top: 10%;
  }

  .parallax-stickers-2{
    width: 250px;
    top: 25%;
    left: 0%;
  }

  .parallax-stickers-3{
    width: 150px;
    top: 30%;
    left: 75%;
  }

  .parallax-stickers-4{
    width: 250px;
    top: 34%;
    left: 10%;
  }

  .parallax-stickers-5{
    width: 150px;
    top: 48.2%;
    right: 0%;
     left: 95%;
  }
}