.calendar-section {
  position: relative;
  min-height: calc(100vh );
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: var(--bg-desktop);
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
  padding: 30px;
  top: -4px;
}

.calendar-section__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 90%;
  z-index: 1;
  gap: 0px;
  padding: 5%;
}

.calendar-self{
  width: 100%;
}

.calendar-title{
  width: 100%;
}

.calendar-button{
  width: 45%;
  max-width: 450px;
  position: relative;
  top: -8vw;
  left: 15%;
}


@media (max-width: 720px) {
  
  .calendar-self{
    width: 100%;
  }
  
  .calendar-section__container{
    width: 100%;
    padding: 0px;
    height: 100%;
  }
  
  .calendar-title{
    width: 90%;
    position: relative;
    top: 6vw;
    max-width: 500px;
  }

  .calendar-button{
    width: 80%;
    max-width: 300px;
    position: relative;
    top: -10vw;
    left: 0%;
  }


}



/* default hidden state before animation */
.calendar-section__container {
  opacity: 0;
}

.calendar-section--visible .calendar-section__container {
  animation: fadeIn 0.7s ease 0s forwards;
}



@media (max-width: 720px) {
  .calendar-section {
    min-height: calc(100vh );
    background-image: var(--bg-mobile);
    background-size: 100% 100%;
    background-position: center;
    padding: 0px;
  }




}